.h3 {
	color: #007788 !important;
	padding: 75px;
}

.button {
	padding: 0px 100px;
}



.form-container {
	background-color: #FFFFFF;
	border-style: solid;
	border-radius: 20px;
	/* color: #c9e6ff; font and border color*/
	padding: 50px 100px;
	position: absolute;
	width: 80%;
	margin: auto;
	right: 0;
	left: 0;
	/* flex box to make spacing better?
	display: flex;
	flex-flow: row wrap;
	flex-direction: row;
	justify-content: space-around;
	align-content: flex-left;
	align-items: flex-left; */

}

.filter {
	border-style: solid;
	border-radius: 10px; 
    color: black;
    background-color: none;
    width: 75%;
}

.submit-btn {
	background-color: #65CCA0 !important;
	border-color: #65CCA0 !important;
	font-size: 30px;
	margin-right: 10px;
}

.clear-btn {
	background-color: #007788 !important;
	border-color: #007788 !important;
	font-size: 30px;
	margin-right: 10px;
}

.number-input {
	border-radius: 5px;
	border-style: solid;
	border-color: #d3d3d3;
	padding: 5px 5px;
	width: 75%;
	height: 46.6px;
}

.text-input {
	background-color: white;
	border: none;
	border-style: solid; 
	border-color:#d3d3d3;
	border-radius: 5px;
	padding: 5px 5px;
	width: 75%;
	height: 46.6px;
}

.text-input:focus {
	outline: none;
}

.percent-input {
	border-style: solid;
	border-color:#d3d3d3;
	border-radius: 5px;
	padding: 5px 5px;
	width: 75%;
	height: 46.6px;
}

/* if we wanted to make our own dropdowns with a single bottom line
.dropdown {
	background-color: white;
	border: none;
	border-style: none none solid none !important; 
	padding: 3px 5px;
}
.dropdown:focus {
	outline: none;
}
*/

.container {
	display: flex;
	flex-flow: row wrap;
	flex-direction: row;
	justify-content: space-around;
	align-content: flex-center;
	align-items: flex-center;
	border: 3px solid black;
}

.item {

}

.info {
	width: 30%;
}

.survey {
	width: 60%;
}