/* Colors */
.pareup-blue {
    color: #1d60b8;
}

.pareup-blue-bg {
    background-color: #1d60b8;
}

.white {
    color: white;
}

/* Text */
a.bold-on-hover-text:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a.no-effect-on-hover:hover {
    color: white;
    text-decoration: none;
}