/* .nav-link-additional {
    color: #ffffff;
    font-size: 25px;
} */

/* .nav-link-additional:hover {
    color: #000000;
}

.navItem {
    color: white;
}

.nav.navbar-nav.navbar-right li a {
    color: blue;
} */